h1 {
    color: #ff0000;
    font-family: 'Georgia', serif;   
}

ul {
    padding-left: 0;
    list-style: none;
}

@font-face {
    font-family: opticianSans;
    src: url("Fonts/Optician-Sans.otf");
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.letters {
    font-family: opticianSans;
    margin: 0;
    padding: 0;
}

#row1 {
    color: rgba(0,0,0,0.5);
    text-shadow: 0 0 rgb(0, 0, 0, 1);
    font-size: 200px;
    color: transparent;
    display: inline-block;
    text-align: center;
}

#row2 {
    text-shadow: 0 0 rgb(0, 0, 0, 1);
    font-size: 100px;
    color: transparent;
    display: inline-block;
    text-align: center;
}

#row3 {
    text-shadow: 0 0 rgb(0, 0, 0, 1);
    font-size: 70px;
    color: transparent;
    display: inline-block;
    text-align: center;
}

#row4 {
    text-shadow: 0 0 rgb(0, 0, 0, 1);
    font-size: 50px;
    color: transparent;
    display: inline-block;
    text-align: center;
}
